body {
    background-color: #a1d3e1;
    font-family: "Viga", sans-serif;
    font-size: 2rem; 
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
  }
h1 {
    font-size: 3rem; 
    margin: 1rem;
  }
p {
    color: #FFFFFF;
    font-family: "Viga", serif;
    font-size: 2rem;
    margin: 1rem;
  }
img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    height: auto;
  }
a:link {
    color: #FFFFFF;
  }

a:visited {
    color: #CFFBFD;
  }

a:hover {
    color: #6C989A;
  }

a:active {
    color: #A8E8E8;
  }
ul {
   list-style-type: none;
   margin: 0;
    padding: 0;
  }
.sidenav {
   height: 100%;
   width: 0; 
   position: fixed; 
   z-index: 15; 
   top: 0; 
   left: 0;
   background-color: #21939b; 
   overflow-x: hidden; 
   padding-top: 60px; 
   transition: 0.5s; 
  }
.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #ffffff;
   display: block;
   transition: 0.3s;
  }
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
.button {
    background-color: #21939b;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1.3rem;
    font-family: "Viga", serif;
    font-size: 2;
  }
.svg-img {
    transition: ocapacity 0.3s ease;
    position: absolute;
    top: 2rem;
    left: 3.5rem;
    cursor: pointer;
    width: 40px;
    height: auto;
    z-index: 10;
    }
.top-bar {
  z-index: 20;
  display: none;
}
#main {
   transition: margin-left .5s;
   padding: 20px;
  }
@media (max-width: 600px) {
    body {
      font-size: 1.5rem; 
    }
    h1 {
      font-size: 2rem; 
    }
    p {
      font-size: 1.2rem; 
    }
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
    .top-bar {
      padding: 0.2rem;
    }
    .top-bar .title {
      font-size: 1rem;
    }
}
@media (max-width: 850px)  {
  body {
    font-size: 1.4rem; 
  }
  h1 {
    font-size: 2.7rem; 
    margin: 4rem 0 1rem 0;
    overflow-wrap: break-word;
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    font-size: 1.4rem; 
  }
  .svg-img {
    top: 0.45rem;
    left: auto;
    right: 0.1rem;
    width: 25px;
    z-index: 25;
  }
  .button {
    font-size: 1rem;
  }
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #21939b;
    padding: 0.4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .top-bar .title {
    font-size: 1.2rem;
    color: #FFFFFF;
  }
  .top-bar .title a {
    text-decoration: none;
    color:#FFF;
  }
  .sidenav {
   height: 100%;
   width: 0; 
   position: fixed; 
   z-index: 1; 
   top: 0; 
   left: 0;
   background-color: #21939b; 
   overflow-x: hidden; 
   padding-top: 4rem; 
   transition: 0.5s; 
  }
  .sidenav a {
    color: white;
    font-size: 3rem;
  } 
}
@media (min-width: 1024px) {
    body {
      font-size: 2.5rem;
    }
    h1 {
      font-size: 4rem; 
    }
    p {
      font-size: 2rem;
    }
    .svg-img {
      width: 37px; 
      top: 2.5rem;
      left: 3.5rem;
      opacity: 1;
      transition: ocapacity 0.5s ease;
    }
    .button {
      font-size: 1.6rem;
    }
}
@media (min-width: 1700px) {
  .svg-img {
    width: 45px; 
    top: 2.5rem;
    left: 3.5rem;
  }
}
/*©  Ben Erik Borgmann, 2024*/